#wrapper{ 
	max-width:960px; 
	margin:0 auto; 
	padding-top:2em; 
}

h1{ 
	font-size:20px; 
	border-bottom:1px dotted #333; 
	padding:0 0 .25em; 
	margin:0 0 1.75em 0; 
}

p{ 
	margin-top:0; 
}


div.editor-toolbar ul.controls > li > a.bold{ background:white url('icons/bold.png') center no-repeat; }
div.editor-toolbar ul.controls > li > a.italic{ background:white url('icons/italic.png') center no-repeat; }
div.editor-toolbar ul.controls > li > a.link{ background:white url('icons/link.png') center no-repeat; }
div.editor-toolbar ul.controls > li > a.unlink{ background:white url('icons/unlink.png') center no-repeat; }
div.editor-toolbar ul.controls > li > a.image{ background:white url('icons/image.png') center no-repeat; }
div.editor-toolbar ul.controls > li > a{
	display:block; 
	height:24px; 
	width:24px; 
	border:1px solid #ccc; 
	text-indent:-9999em;
	opacity:0.7;
}

div.editor-toolbar ul.controls > li > a.active{
	opacity:1;
}

#editor_plugin_assets > div{ 
	padding:7px;
	float:left; 
}

#editor_plugin_assets > div h4{
	font-size:11px;
	text-transform:uppercase;
	margin:0 0 .5em 0;
}

#edit_asset_tree{
	width:400px;
	margin-right:10px;
	background:#efefef;
	border:1px solid #ececec;
}

#edit_asset_tree ul{
	font-size:12px;
	padding:0 0 0 1.5em;
	margin:0 0 1.5em 0;
}

#edit_asset_tree ul li{
	float:left;
	width:33%;
	margin-bottom:.25em;
}

#edit_asset_upload{
	width:200px;
}