.editing[contenteditable].multiline-editable{ 
	padding:.5em; 	
}

.editing[contenteditable]{
	outline:1px dotted #aaa;
}

.editor-clipped-target, #editor_paste_bin{ 
	clip:rect(1px, 1px, 1px, 1px); 
	clip:rect(1px 1px 1px 1px);
	position:absolute;
}

div.editor-toolbar{
	position:fixed;
	margin-bottom:10px;
}

div.editor-toolbar ul.tab-nav{
	list-style-type:none;
	text-align:left;
	margin:0;
	padding:0;
}

div.editor-toolbar ul.tab-nav > li{
	display:inline-block;
}

div.editor-toolbar ul.tab-nav > li a{
	display:block;
	padding:.25em 1em;
	font-size:11px;
	line-height:15px;
	color:#333;
	text-decoration:none;
}

div.editor-toolbar ul.tab-nav > li.active a{
	border-radius:5px 5px 0 0;
	background:#eee;
}

div.editor-toolbar ul.controls{
	list-style-type:none;
	margin:0; 
	padding:0;
}

div.editor-toolbar ul.controls > li{
	display:inline-block;
}

div.editor-toolbar ul.controls > li > a{
	display:block;
}

div.editor-toolbar div.tool-panel{
	min-width:200px;
	padding:7px;
	background:#eee;
	display:none;
}

div.editor-toolbar div.tool-panel.active{
	min-height:26px;
	display:block;
}