.editing[contenteditable].multiline-editable{ 
	padding:.5em; 	
}

.editing[contenteditable]{
	outline:1px dotted #aaa;
}

.editor-clipped-target, #editor_paste_bin{ 
	clip:rect(1px, 1px, 1px, 1px); 
	clip:rect(1px 1px 1px 1px);
	position:absolute;
}

div.editor-toolbar{
	position:fixed;
	padding:5px;
	margin-bottom:10px;
	background:#eee;
}

div.editor-toolbar ul.controls{
	list-style-type:none;
	margin:0; 
	padding:0;
}

div.editor-toolbar ul.controls > li{
	display:inline-block;
}

div.editor-toolbar ul.controls > li > a{
	display:block;
}